[napbot]
LogLevel=1
BotToken=
DebugGuilds=
AdminIds=
Modules=music

[music]
MusicPath=/media/Moosic
CurrentSongAsStatus=True
DominantColorEmbed=False
AlbumArt=True
Id3Metadata=True
SynchronisedLyrics=Tru
IgnoredPaths=