[napbot]
LogLevel=1
BotToken=
DebugGuilds=
AdminIds=
Modules=music
ConfigPrefix=,

[music]
MusicPath=/media/Moosic
CurrentSongAsStatus=True
DominantColorEmbed=False
AlbumArt=True
Id3Metadata=True
SynchronisedLyrics=True
IgnoredPaths=/media/Moosic/Ignore
GuessVoteSkipPercent=50
GuessLenient=True
Playlists=True
TempPath=.\tmp
MaxDownloadQueue=5
Bitrate=320

[spotify]
ClientId=
ClientSecret=